<!DOCTYPE html>
<html>

<head>
    <title>Asesino de Monstruos</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">TU</h1>
                <div class="curarthbar">
                    <div class="curarthbar text-center" style="background-color: goldenrod; margin: 0; color: white;">
                        <p>{{this.vidaPersonaje}}</p>
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTRUO</h1>
                <div class="curarthbar">
                    <div class="curarthbar text-center"
                        style="background-color: rgb(0, 81, 128); margin: 0; color: white;">
                        <p>{{this.vidaMonstruo}}</p>
             </div>
                </div>
            </div>
        </section>
        <section class="row controls">
            <div class="small-12 columns" v-on:click="isHidden = false">
                <button id="start-game" v-on:click="empezar()" v-if="isHidden">
                    EMPEZAR JUEGO NUEVO</button>
            </div>
        </section>
        <section class="row controls">
            <div class="small-12 columns" v-if="!isHidden">
                <button v-on:click="ataque()" id="atacar" >ATACAR</button>
                <button v-on:click="ataqueEspecial()" id="ataque-especial" >ATAQUE ESPECIAL</button>
                <button v-on:click="curacion()" id="curar" >CURAR</button>
                <button v-on:click="rendirse()" id="rendirse" >RENDIRSE</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">

                <ul>
                    <li>
                        
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            vidaMonstruo:100,
            vidaPersonaje:100,
            isHidden: true
        },

        methods: {
            ataque() {
                valorP=Math.floor(Math.random()*10+1)
                valorM=Math.floor(Math.random()*10+1)
                if(valorP<this.vidaPersonaje && valorM<this.vidaMonstruo){
                this.vidaMonstruo-=valorM
                this.vidaPersonaje-=valorP
                }
            },
            ataqueEspecial(){
                this.vidaMonstruo-=Math.floor(Math.random()*12+1)
                this.vidaPersonaje-=Math.floor(Math.random()*12+1)
            },
            curacion(){
                this.vidaPersonaje+=Math.floor(Math.random()*12+1)
                this.vidaPersonaje-=Math.floor(Math.random()*12+1)
            },
            rendirse(){
                this.vidaMonstruo=100,
                this.vidaPersonaje=100
                this.isHidden=true
                alert('Te rendiste!')
            },
            empezar(){
                this.vidaMonstruo=100,
                this.vidaPersonaje=100
                this.isHidden=true
            }
        }
    });
</script>